.Server {
    min-width: calc(var(--header-height) - 5px);
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;

    transition: 0.2s ease;
}

.Server:hover {
    transform: scale(110%);
}

.Server:active {
    transform: scale(90%);
}

.Server-container {
    height: var(--header-height);
    align-items: center;
    font-size: calc(10px + 2vmin);
    display: inline-flex;
}