.Channels-container {
    background-color: var(--dark-3);
    
    position: fixed;
    left: 0;
    width: 10rem;
    height: calc(100vh - var(--header-height) - 10px);

    overflow-y: scroll;
    scroll-behavior: smooth;
}
.Channels-container::-webkit-scrollbar {
    display: none;
}

.Channels-header {
    display: inline-block;
    position: relative;
    background-color: var(--dark-2);
    height: 50px;
    width: 100%;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

.Server-name {
    font-size: 1rem;
    font-family: 'Righteous';
    text-align: center;
    padding-right: 15px;
}

#Header-content {
    margin-top: 5px;
    padding-left: 10px;
}
