.App, body {
  font-size: 1rem;

  background-color: var(--headercolor);

  height: calc(100vh - var(--headerheight));

  color: white;

  --headerheight: 15mm;

  --headercolor: #282c34;
}

.Account-icon {
  height: calc(var(--headerheight) - 5px);
  margin: 5px;
  cursor: pointer;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: inherit;
  background-color: var(--headercolor);
}

.Account-icon:hover {
  transform: rotate(360deg) scale(105%);
}

.Header {
  background-color: var(--headercolor);
  height: var(--headerheight);
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Menu-scrollbar {
  overflow-x: scroll;
}

.Content {
  margin-top: var(--headerheight);
}

a {
  color: #61dafb;
  text-decoration: none;
}
