.App, body {
  font-size: 1rem;

  background-color: #282c34;

  height: calc(100vh - var(--headerheight));

  color: white;

  --headerheight: 15mm;
}



.Account-icon {
  height: calc(var(--headerheight) - 5px);
  justify-self: right;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;

  cursor: pointer;

  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Account-icon:hover {
  transform: scale(110%);
}

.App-header {
  background-color: #1d2027;
  height: var(--headerheight);
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.App-content {
  margin-top: var(--headerheight);
}

a {
  color: #61dafb;
  text-decoration: none;
}
